h2 {
  color: black;
}

h4 {
  color: 	#F0583E;
}

h3 {
  color: 	black;
}

a {
  color: blue;
}

body {
  background-color: white;

}

img1 {
    height: 50%;
    width: 50%;
    background-color: powderblue;
}
