h1 {
  font-size: 40px;
  color: white;
}

p {
  font-size: 30px;
  color: 	#FBE30D;
}


body {
  background-color: black;

}

a {
    color: 	#FBE30D;
}

h7 {
  font-size: 30px;
  color: white;
}

/* break */

p1 {
  color: black;
  font-family: Courier;
}

p2 {
  color: black;
  font-family: Courier;
}
